/* Common area */

/* Header */
.home-header{
    display: flex;
    margin-right: auto;
}


#homepage{
    background-image: url(../images/homepage2.jpg);
    padding: 1rem;
}

.home-content{
    margin-top: 10%;
    margin-bottom: 30%;
}

.home-content a{
    margin-top: 10%;
    
}

.text-shadow{
    text-shadow: 3px 3px 1px rgb(39, 35, 35);
}

#submit_button{
    background-color: rgb(36, 32, 32);
    color: lightcyan;
    width: 100%;
    display: inline-block;
}