<!-- the page after logged in -->
{% extends 'base.html' %}  
{% block head %} All your training menus {% endblock %}

{% block main %}
<div class="container my-4"> 
    {%for category in categories%}
    <div class="row">
      <div class="col-4">
        <h2>{{category.name}}</h2>
      </div>
      <div class="col-8 text-right">
        <form method="POST" action="{{url_for('main.deletecategory', id=category.id)}}">
          <input type="submit" value="Delete category" class="btn btn-light">
        </form>
      </div>
    </div>
      <table class="table table-striped table-dark table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Default weight</th>
            <th scope="col">Default reps</th>
            <th scope="col">Default sets</th>
          </tr>
        </thead>
        <tbody>
        {%for exercise in exercises%}
        {%if exercise.category_id ==category.id%}
          <tr>
            <th scope = "row"> {{exercise.name}} </th>
            <td> {{exercise.weight}} </td>
            <td> {{exercise.rep}} </td>
            <td> {{exercise.sets}} </td>
            <td> <form method="POST" action="{{url_for('main.deletemenu', id=exercise.id)}}">
              <input type="submit" value="Delete" class="btn btn-light">
          </form> </td>
          </tr>
        {%endif%}
        {%endfor%}
        </tbody>
      </table>
      {%endfor%}
  
</div>
{% endblock %}