{% extends 'base.html' %}
{% from 'form-helper.html' import displayField %}       
{% block head %} Add new Category {% endblock %}

{% block main %} 
<div class="container text-center">

    <form action = "{{url_for('main.categoryreg')}}", method="POST">
        <!-- using macro for the same codes -->
       
        {{displayField(form.category_name, 'Type the category', autocomplete="off", autofocus=true)}}

        {{ form.submit_button }}
       
        {{ form.csrf_token }}
    </form>
</div>

{% endblock %}