{% extends 'base.html' %}
{% from 'form-helper.html' import displayField %}       
{% block head %} Add daily record {% endblock %}

{% block main %} 
<div class="container text-center">

    <form action = "{{url_for('main.dailyrecord')}}", method="POST">
        <!-- using macro for the same codes -->
        <p>Select today's part</p>
        {{displayField(form.today_part, 'Select the part', autocomplete="off", autofocus=true)}}
        {{ form.submit_button }}
       
        {{ form.csrf_token }}
    </form>
</div>

{% endblock %}