                
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wo!Tracker</title>
    <meta name="description" content="Workout tracker">

    <!-- Bootstrap and CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login_style.css')}}">
</head>

<body>
    <div id = "homepage">
        <header class="home-header">
            <h1 class="display-3 text-light text-shadow">WO! Tracker</h1>
            <!-- flash message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success text-center" role="alert" style="margin-bottom: 0;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %} 
            <!-- main content of each page -->
        </header>
        <div class="container justify-content-center text-center home-content">
            
                <h1 class="display-4 text-center text-light text-shadow">
                    Keep track of your workout and achieve your goal effectively </h1>
            <a class="btn btn-light btn-block btn-outline-dark" href="{{url_for('login_by_google')}}">
                Log in with Google  <img src="{{url_for('static',
                 filename='images/googlelogo.png')}}" alt="googlelogo" height="40px" width="40px" class="ml-1">
            </a>
            <a class="btn btn-secondary btn-block my-4" href="{{url_for('auth.login')}}">
                Log in with Username and password instead
            </a>

            <p class="text-light">Do not have any account? <a href="{{url_for('auth.register')}}">Register here</a></p>
        </div>
          
       
    </div>

    <footer class="footer">
        <div class="text-center py-2 bg-secondary">
            <span class="text-light">Copyright &copy; 2020: Kazza Hiroty</span>
        </div>

    </footer>
<!-- JQuery, Popper, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
</body>

</html>
